@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);
}

body {
  font-family: 'Libre Franklin', sans-serif;
  max-width: 144rem;
  margin: 0 auto;
  padding: calc(4vh + 1rem) calc(6vw + 1rem);
}

ul {
  list-style: none;
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 2.4rem;
}

.logo img {
  object-fit: cover;
  height: 1.4rem;
}

.primary-heading h1 {
  color: var(--gray);
  font-size: 2.4rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.4rem;
}

.primary-heading h1 span {
  color: var(--very-dark-blue);
  font-weight: 700;
}

.primary-heading p {
  color: var(--very-dark-blue);
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 1.6rem;
}

form {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  margin-bottom: 4.8rem;
}

.email-box input {
  color: var(--very-dark-blue);
  border: 1px solid var(--gray);
  border-radius: 2rem;
  font-family: inherit;
  font-size: 1.4rem;
  padding: 0.8rem 1.6rem;
  width: 24rem;
}

.email-box input:focus {
  outline: none;
}

.email-box input::placeholder {
  color: #ababab;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

form button {
  border: none;
  background: #4f7df3;
  color: #fff;
  border-radius: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0.9rem 2rem;
  box-shadow: 0 5px 1.6rem rgba(79, 125, 243, 0.3176470588);
  transition: all 0.3s ease;
}

/* form button:hover {
  cursor: pointer;
  background-color: var(--pale-blue);
} */

/* Putting hover code in @media block prevents hover state on touch devices.*/
@media (hover: hover) {
  form button:hover {
    cursor: pointer;
    background-color: var(--pale-blue);
  }
}
.email-error-msg {
  color: var(--light-red);
  font-size: 1rem;
  font-style: italic;
  padding: 5px 1rem;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  transition: all 0.3s ease;
}

.dashboard-image {
  display: flex;
  justify-content: center;
  margin-bottom: 6.4rem;
}

.dashboard-image img {
  object-fit: cover;
  width: 60%;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  margin-bottom: 2.4rem;
}

.social-media li a:link,
.social-media li a:visited {
  color: #4f7df3;
  display: inline-block;
  width: 4.8rem;
  height: 4.8rem;
  font-size: 2.4rem;
  padding: 1rem;
  text-decoration: none;
  text-align: center;
  border: 1px solid var(--pale-blue);
  border-radius: 50%;
  transition: all 0.3s ease;
}

.social-media li a:hover,
.social-media li a:active {
  color: #fff;
  background-color: #4f7df3;
}

.copy {
  color: var(--gray);
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: center;
}
